main {
    padding: 20px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.about-content {
    flex: 1;
}

.about-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-content p {
    margin-bottom: 15px;
}

/* img {
    max-width: 100%;
    height: auto;
} */


